menu "Architecture options"

source "arch/$(ARCH)/Kconfig"

choice
	prompt "Compiler optimization"
	default CC_OPTIMIZE_O2
	help
	  Select compiler optimization options.

config CC_OPTIMIZE_O0
	bool "-O0"

config CC_OPTIMIZE_O1
	bool "-O1"

config CC_OPTIMIZE_O2
	bool "-O2"

config CC_OPTIMIZE_O3
	bool "-O3"

config CC_OPTIMIZE_OS
	bool "-Os"

endchoice

endmenu
