config BOOTLOADER
	def_bool y
	depends on BOOT_EFISTUB

comment "No bootloader supported"
	depends on !BOOTLOADER

config BOOT_EFISTUB
	bool "Support booting through EFI directly"
	default EFISTUB
	depends on EFISTUB
